.profile {
    text-align: center;

    &__name {
        h1 {
            margin-top: 0;
            font-size: 1.4rem;
        }
    }
}

.repository-list {
    margin: 2rem auto;

    &__header {
        @media screen and (min-width: 501px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h2 {
        font-size: 2rem;
        padding-left: 10px;
    }

    &__grid {
        @media screen and (min-width: 501px) {
            display: flex;
            flex-wrap: wrap;
        }

        > a {
            padding: 10px;
            text-decoration: none;
            color: #000;

            @media screen and (min-width: 1001px) {
                flex: 0 0 25%;
                max-width: 25%;
            }

            @media screen and (max-width: 1000px) { 
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }

            @media screen and (max-width: 767px) { 
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    &__single {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: #fff;
        height: 100%;
        min-height: 200px;
        padding: 20px;
        border-top: 5px solid transparent;
        border-radius: 5px;
        box-shadow: 3px 3px 12px rgba(0,0,0,0.15);
        -webkit-transition: border-color 0.3s;
                transition: border-color 0.3s;

        &:hover {
            border-color: greenyellow;
        }

        img {
            vertical-align: middle;
            height: 25px;
            margin-right: 3px;
        }

        &__main, &__bottom {
            width: 100%;
        }

        &__title {
            display: block;
            word-break: break-all;
        }

        &__lang {
            display: inline-block;
            background: #ddd;
            padding: 3px 8px;
            font-size: 0.7rem;
            border-radius: 15px;
        }

        &__bottom {
            font-size: 0.7rem;
        }

        &__lastupdated {
            margin-right: 20px;
        }
    }
}