.commits {
    &__header {
        @media screen and (min-width:491px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            h2 {
                margin: 0;
            }
        }
    }

    &__searchresults {
        &__result, &__close { display: inline-block; }

        &__close {
            margin-left: 2rem;
            font-size: 0.8rem;
            cursor: pointer;
        }
    }

    &__list {
        position: relative;
        padding-bottom: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 35px;
            border-left: 3px dotted greenyellow;
        }
    }

    &__single {
        position: relative;
        min-height: 100px;
        padding: 1.5rem 0 1.5rem 100px;

        @media screen and (min-width:768px) {
            display: flex;
            justify-content: space-between;
        }

        &:before {
            content: '';
            position: absolute;
            background: #222;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 35px;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            border: 3px solid greenyellow;
            border-radius: 100px;
            z-index: 1;
        }

        &__desc {
            word-break: break-all;
        }

        &__side {
            font-size: 0.7rem;

            @media screen and (min-width:768px) {
                flex: 0 0 25%;
                max-width: 25%;
                text-align: right;
            }

            @media screen and (max-width:767px) {
                margin-top: 2rem;
            }
            
            .icon {
                display: inline-block;
            }
        }

        &__author, &__date {
            img {
                vertical-align: middle;
            }
        }

        &__author {
            margin-bottom: 1rem;

            a {
                text-decoration: none;
                color: #fff;
            }

            span:hover { text-decoration: underline; }

            img {
                margin-right: 10px;
            }
        }

        &__date {
            img {
                height: 25px;
                margin-right: 3px;
            }
        }
    }

    &__loadmore {
        background: greenyellow;
        padding: 10px 20px;
        margin-left: 100px;
        border: 0;
        border-radius: 20px;
        outline: 0;
        cursor: pointer;
        -webkit-transition: opacity 0.3s;
                transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}