.nav {
    padding: 10px 20px 12px;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000;

    @media screen and (min-width: 768px) { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 1.2rem;
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}