.search {
    display: inline-block;
    background: #fff;
    border-radius: 10px;

    &__input, &__button {
        display: inline-block;
        outline: 0;
        border: 0;
        padding: 0;
    }
    &__input {
        border-radius: 5px 0 0 5px;
    }

    &__button {
        background: greenyellow;
        color: #000;
        padding: 3px 5px 3px 10px;
        border-radius: 10px 5px 5px 10px;
        cursor: pointer;

        img {
            height: 90%;
            object-fit: contain;
            object-position: center;
        }
    }

    &--big {
        font-size: 0.9rem; 

        .search {
            &__input {
                height: 30px;
                padding: 3px 12px;
            }

            &__button {
                height: 41px;
            }
        }
    }

    &--small {
        font-size: 0.7rem; 

        .search {
            &__input {
                height: 25px;
                padding: 3px 5px;
            }

            &__button {
                height: 32px;
            }
        }
    }
}

.sort {
    position: relative;
    display: inline-block;
    background: #fff;
    color: #000;
    border-radius: 10px;
    width: 200px;
    padding: 10px 20px;
    
    &__dropdown {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        bottom: 10px;
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
        padding: 10px 20px 10px 30px;
        border-radius: 0 0 10px 10px;

        &__item {
            cursor: pointer;

            &--active {                
                &:before {
                    content: 'v';
                    position: absolute;
                    color: greenyellow;
                    left: 10px;
                }
            }
        }
    }
}