.icon {
    img {
        border-radius: 100px;
        width: 100%;
    }

    &--big {
        img {
            width: 150px;
            height: 150px;
        }
    }

    &--small {
        img {
            width: 30px;
            height: 30px;
        }
    }
}