// ===============================================
//   CSS resets and defaults
// ===============================================

:root {
    -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;
    backface-visibility: hidden;
    font-size: 20px;
}

* {
    line-height: calc(4px + 2.6ex);
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}