/* work-sans-300 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("./assets/fonts/work-sans-v9-latin-300.woff2") format("woff2"), url("./assets/fonts/work-sans-v9-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./assets/fonts/work-sans-v9-latin-regular.woff2") format("woff2"), url("./assets/fonts/work-sans-v9-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-700 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./assets/fonts/work-sans-v9-latin-700.woff2") format("woff2"), url("./assets/fonts/work-sans-v9-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-italic - latin */
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("./assets/fonts/work-sans-v9-latin-italic.woff2") format("woff2"), url("./assets/fonts/work-sans-v9-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  backface-visibility: hidden;
  font-size: 20px;
}

* {
  line-height: calc(4px + 2.6ex);
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: inline-block;
  background: #fff;
  border-radius: 10px;
}
.search__input, .search__button {
  display: inline-block;
  outline: 0;
  border: 0;
  padding: 0;
}
.search__input {
  border-radius: 5px 0 0 5px;
}
.search__button {
  background: greenyellow;
  color: #000;
  padding: 3px 5px 3px 10px;
  border-radius: 10px 5px 5px 10px;
  cursor: pointer;
}
.search__button img {
  height: 90%;
  object-fit: contain;
  object-position: center;
}
.search--big {
  font-size: 0.9rem;
}
.search--big .search__input {
  height: 30px;
  padding: 3px 12px;
}
.search--big .search__button {
  height: 41px;
}
.search--small {
  font-size: 0.7rem;
}
.search--small .search__input {
  height: 25px;
  padding: 3px 5px;
}
.search--small .search__button {
  height: 32px;
}

.sort {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  border-radius: 10px;
  width: 200px;
  padding: 10px 20px;
}
.sort__dropdown {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  bottom: 10px;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  padding: 10px 20px 10px 30px;
  border-radius: 0 0 10px 10px;
}
.sort__dropdown__item {
  cursor: pointer;
}
.sort__dropdown__item--active:before {
  content: "v";
  position: absolute;
  color: greenyellow;
  left: 10px;
}

.icon img {
  border-radius: 100px;
  width: 100%;
}
.icon--big img {
  width: 150px;
  height: 150px;
}
.icon--small img {
  width: 30px;
  height: 30px;
}

.nav {
  padding: 10px 20px 12px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__logo {
  font-size: 1.2rem;
}
.nav__logo a {
  color: #fff;
  text-decoration: none;
}

.profile {
  text-align: center;
}
.profile__name h1 {
  margin-top: 0;
  font-size: 1.4rem;
}

.repository-list {
  margin: 2rem auto;
}
@media screen and (min-width: 501px) {
  .repository-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.repository-list h2 {
  font-size: 2rem;
  padding-left: 10px;
}
@media screen and (min-width: 501px) {
  .repository-list__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.repository-list__grid > a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1001px) {
  .repository-list__grid > a {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 1000px) {
  .repository-list__grid > a {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media screen and (max-width: 767px) {
  .repository-list__grid > a {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.repository-list__single {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  height: 100%;
  min-height: 200px;
  padding: 20px;
  border-top: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.repository-list__single:hover {
  border-color: greenyellow;
}
.repository-list__single img {
  vertical-align: middle;
  height: 25px;
  margin-right: 3px;
}
.repository-list__single__main, .repository-list__single__bottom {
  width: 100%;
}
.repository-list__single__title {
  display: block;
  word-break: break-all;
}
.repository-list__single__lang {
  display: inline-block;
  background: #ddd;
  padding: 3px 8px;
  font-size: 0.7rem;
  border-radius: 15px;
}
.repository-list__single__bottom {
  font-size: 0.7rem;
}
.repository-list__single__lastupdated {
  margin-right: 20px;
}

@media screen and (min-width: 491px) {
  .commits__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.commits__header__title h2 {
  margin: 0;
}
.commits__searchresults__result, .commits__searchresults__close {
  display: inline-block;
}
.commits__searchresults__close {
  margin-left: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.commits__list {
  position: relative;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.commits__list:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 35px;
  border-left: 3px dotted greenyellow;
}
.commits__single {
  position: relative;
  min-height: 100px;
  padding: 1.5rem 0 1.5rem 100px;
}
@media screen and (min-width: 768px) {
  .commits__single {
    display: flex;
    justify-content: space-between;
  }
}
.commits__single:before {
  content: "";
  position: absolute;
  background: #222;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid greenyellow;
  border-radius: 100px;
  z-index: 1;
}
.commits__single__desc {
  word-break: break-all;
}
.commits__single__side {
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .commits__single__side {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  .commits__single__side {
    margin-top: 2rem;
  }
}
.commits__single__side .icon {
  display: inline-block;
}
.commits__single__author img, .commits__single__date img {
  vertical-align: middle;
}
.commits__single__author {
  margin-bottom: 1rem;
}
.commits__single__author a {
  text-decoration: none;
  color: #fff;
}
.commits__single__author span:hover {
  text-decoration: underline;
}
.commits__single__author img {
  margin-right: 10px;
}
.commits__single__date img {
  height: 25px;
  margin-right: 3px;
}
.commits__loadmore {
  background: greenyellow;
  padding: 10px 20px;
  margin-left: 100px;
  border: 0;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.commits__loadmore:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=App.css.map */
